main {
	position: relative;
	top: 99px;
}

.mainContent {
	height: 716px;
	background-image: url('/codeigniter/public/img/bkg-home.jpg');
	background-color: #0B2239;
	background-position: center;
	background-size: cover;
}

.containerWebsite {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftMainContent {
	max-width: 455px;
}

.leftMainContent h1 {
	font-size: 24px;
	line-height: 34px;
	color: #34BD6B;
	font-weight: 400;
}

.leftMainContent h2 {
	margin-top: 4px;
	font-size: 32px;
	line-height: 52px;
	color: #FFFFFF;
	font-weight: 400;
}

.buttonsMain {
	margin-top: 40px;
}

.buttonsMain button {
	width: 195px;
	height: 51px;
	background-color: #34BD6B;
	color: #ffffff;
	font-size: 24px;
	margin-right: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease;
}

.buttonsMain button:hover {
	transition: all 0.3s ease;
	background-color: #FFFFFF;
	color: #0B2239;
}

.buttonsMain a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.buttonsMain button:nth-child(2) {
	background-color: transparent;
	border: 1px solid #B5B5B5;
}

.buttonsMain button:nth-child(2):hover {
	transition: all 0.3s ease;
	background-color: #FFFFFF;
	color: #0B2239;
}

.rightMainContent ul {
	display: flex;
	flex-wrap: wrap;
	gap: 60px;
	max-width: 616px;
}

.itemRightList {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 28px;
	width: 278px;
}

.itemRightList h3 {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 700;
	margin-left: 16px;
}

/* Sobre Nós */
.sobreNosContainer {
	padding-top: 80px;
	border-bottom: 2px solid #edf2f6;
	background-color: #f9f9f9;
}

.sobreNos {
	margin-top: 80px;
	margin-bottom: 160px;
}

.sobreNosContent {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.sobreNosImages {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	max-width: 50%;
	position: relative;
}

#img-01 {
	width: 600px;
	height: 280px;
	background-image: url(/codeigniter/public/img/sobre-img-01.jpg);
	background-repeat: no-repeat;
	background-position: 16% 17%;
	filter: blur(2px);
	border-radius: 8px;
}

#img-02 {
	background-image: url(/codeigniter/public/img/sobre-img-02.jpg);
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(2px);
}

#img-03 {
	background-image: url(/codeigniter/public/img/sobre-img-03.jpg);
	background-position: 21% 40%;
	background-size: 360px;
	filter: blur(2px);
}

#img-01,
#img-02,
#img-03 {
	cursor: pointer;
	transition: all 0.8s ease-in-out;
}

#img-01:hover,
#img-02:hover,
#img-03:hover {
	filter: unset;
	transition: all 0.8s ease-in-out;
}

.imagesBottomSobre {
	width: 290px;
	height: 220px;
	border-radius: 8px;
}

.textImagesSobreNos {
	position: absolute;
	content: '';
	background-color: #0B2239;
	border: 8px solid #fff;
	width: 180px;
	height: 180px;
	border-radius: 100%;
	margin-top: 65px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textImagesSobreNos span:nth-child(1) {
	font-size: 48px;
	font-weight: 700;
	color: #34BD6B;
	text-align: center;
	margin-top: 22px;
}

.textImagesSobreNos span:nth-child(2) {
	font-size: 22px;
	color: #ffffff;
	text-align: center;
	margin-top: -6px;
	line-height: 25px;
}

.sobreNosTexts {
	max-width: 50%;
	padding-left: 16px;
}

.sobreNosTexts>h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	color: #34BD6B;
	display: flex;
	flex-direction: column;
}

.sobreNosTexts>h3 {
	font-size: 48px;
	line-height: 58px;
	color: #0B2239;
	font-weight: 700;
	margin-bottom: 16px;
}

.sobreNosTexts>p {
	font-size: 18px;
	line-height: 28px;
	text-align: justify;
	text-justify: inter-word;
	color: #555555;
	margin-bottom: 20px;
}

.btnSobreNos {
	width: 195px;
	height: 51px;
	background-color: #0B2239;
	color: #ffffff;
	font-size: 24px;
	margin-right: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
	transition: all 0.3s ease;
}

.btnSobreNos:hover {
	background-color: #34BD6B;
	color: #ffffff;
	transition: all 0.3s ease;
}

.btnSobreNos>a {
	padding-bottom: 2px;
}

/* END Sobre Nós */

.especialidades {
	margin-top: 120px;
}

.especialidades h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	text-align: center;
	color: #34BD6B;
}

.especialidades h3 {
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	color: #0B2239;
	font-weight: 700;
	max-width: 600px;
	margin: 0 auto;
}

.especialidadesContent {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin-top: 48px;
}

.itemEspecialidade {
	position: relative;
	width: 400px;
	height: 330px;
	background-color: #fdfdfd;
	box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
	overflow: hidden;
	border-radius: 4px;
}

.especialidadeInicial {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.especialidadeInicial>svg {
	margin-top: 32px;
}

.especialidadeInicial>h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	padding: 8px;
	margin-top: 8px;
}

.especialidadeInicial>p {
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	padding: 4px 16px 0 16px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 4;
}

.especialidadeHover {
	position: absolute;
	background-image: url(/codeigniter/public/img/especialidades-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	top: 0;
	transform: translateX(-100%);
	width: 400px;
	height: 330px;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btnSaibaMais {
	width: 195px;
	height: 51px;
	background-color: #34BD6B;
	color: #ffffff;
	font-size: 24px;
	margin-right: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
	transform: translateY(195px);
	transition: all 0.6s ease;
}

.btnSaibaMais:hover {
	background-color: #FFFFFF;
	color: #0B2239;
	transition: all 0.3s ease;
}

.btnSaibaMais>a {
	padding-bottom: 2px;
}

.especialidadeHover>.btnSaibaMais:hover {
	transition: all 0.3s ease;
	background-color: #FFFFFF;
}

.itemEspecialidade:hover .especialidadeHover {
	transform: translateX(0%);
}

.itemEspecialidade:hover .especialidadeHover>.btnSaibaMais {
	transform: translateY(0%);
	transition: all 0.6s ease;
}

.btnEspecialidadesContainer {
	display: block;
	width: 100%;
	text-align: center;
}

.btnEspecialidades {
	width: 195px;
	padding: 8px 0;
	background-color: #34BD6B;
	color: #FFFFFF;
	font-size: 24px;
	border: 1px solid #34BD6B;
	transition: all 0.3s ease;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	margin: 0 auto;
}

.btnEspecialidades:hover {
	background-color: #FFFFFF;
	color: #34BD6B;
	transition: all 0.3s ease;
}

/* Blog */
.blog {
	margin: 80px auto;
}

.blog h2 {
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	color: #34BD6B;
}

.blog h3 {
	font-size: 48px;
	line-height: 58px;
	color: #0B2239;
	font-weight: 700;
	max-width: 600px;
}

.containerBlog {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 24px;
}

.itemBlog {
	width: 400px;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 0 16px;
	border-radius: 8px;
	color: #0B2239;
}

.imgBlog {
	width: 368px;
	height: 220px;
	margin-top: 16px;
	transition: all 0.5s ease-in-out;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgBlog>img {
	max-width: 368px;
	transition: all 0.5s ease-in-out;
}

.itemBlog:hover .imgBlog>img {
	transform: scale(1.2);
	transition: all 0.5s ease-in-out;
}

.authorDateBlog {
	display: flex;
	height: 50px;
	width: 100%;
	padding: 0 16px;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #cbcbcb;
}

.authorPost,
.datePost {
	display: flex;
	align-items: center;
}

.authorPost>svg,
.datePost>svg {
	margin-right: 8px;
}

.titleBlog {
	margin-top: 16px;
}

.titleBlog h3 {
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}

.btnBlog {
	height: 51px;
	padding: 10px 16px;
	background-color: #0B2239;
	color: #FFFFFF;
	font-size: 24px;
	transition: all 0.3s ease;
	box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
	margin: 24px auto 0 auto;
}

.btnBlog:hover {
	background-color: #34BD6B;
	color: #ffffff;
	transition: all 0.3s ease;
}

/* END Blog */

/* Medias */
@media screen and (max-width: 1449px) {
	.rightMainContent ul {
		gap: 40px;
	}
}

@media screen and (max-width: 1299px) {
	.containerBlog {
		justify-content: center;
	}

	.blog h2 {
		text-align: center;
	}

	.blog h3 {
		text-align: center;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1249px) {
	.sobreNosContent {
		flex-direction: column;
		align-items: center;
	}

	.sobreNosTexts {
		margin-top: 40px;
	}

	.sobreNosImages {
		max-width: 620px;
	}

	.sobreNosTexts {
		max-width: 620px;
		padding-left: unset;
	}
}

@media screen and (max-width: 1149px) {
	.mainContent {
		height: auto;
	}

	.containerWebsite {
		align-items: flex-start;
		padding: 80px 20px 0 20px;
	}

	.rightMainContent ul {
		flex-direction: column;
		margin-right: 80px;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 949px) {
	.rightMainContent ul {
		margin-right: unset;
	}
}

@media screen and (max-width: 819px) {
	.containerWebsite {
		padding: 80px 20px 0 20px;
	}

	.mainContent {
		height: auto;
	}

	.containerWebsite {
		flex-direction: column;
	}

	.rightMainContent {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.leftMainContent h2 {
		font-size: 24px;
		line-height: 34px;
	}
}

@media screen and (max-width: 629px) {
	.sobreNosImages {
		width: 100%;
	}

	#img-01,
	#img-02,
	#img-03 {
		width: 100%;
	}

	.sobreNosTexts>p {
		text-align: left;
	}

	.sobreNosTexts>h3 {
		font-size: 40px;
	}

}

@media screen and (max-width: 519px) {
	.leftMainContent {
		max-width: unset;
	}

	.buttonsMain button:nth-child(1) {
		width: 100%;
		margin-bottom: 16px;
	}

	.buttonsMain button:nth-child(2) {
		width: 100%;
	}

	.especialidades>h3 {
		font-size: 44px;
		line-height: 54px;
	}

	.blog>h3 {
		font-size: 44px;
		line-height: 54px;
	}
}

@media screen and (max-width: 450px) {
	.itemBlog {
		max-width: 350px;
	}

	.imgBlog {
		max-width: 322px;
	}
}